<a href="https://colab.research.google.com/github/Sab01123/Python/blob/main/Day2_Pythan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# Strings

x = "sabira"

# indexing

print(x[0])   # s

# last elem
print(x[-1])  # a

# 2nd last elem
print(x[-2])  # r

# print(x[10])  string index out of range

# slicing

print(x[:])    # sabira
print(x[0:])   # sabira
print(x[:6])   # sabira
print(x[:5])   # sabir

# print only ir
print(x[3:5])  # ir

# print alternatively
print(x[0:6:2]) # sbr

print("*************")
print(x[-6:-1])  # sabir # it will not print whole string

print(x[0:100])  # sabira  No error giving

# Reverse the string

original_str = "genzeon"
rev_str = original_str[:: -1]
print(rev_str)   # noezneg

# print lpp from apple
a = "apple"
print(a[3:0:-1])

s
a
r
sabira
sabira
sabira
sabir
ir
sbr
*************
sabir
sabira
noezneg
lpp

In [38]:
# string operation

str1 = "hello"
str2 = "world"

str3 = str1+str2
print(str3)   # helloworld

print(str1 +" "+ str2)

print("#" * 5)  # #####

# printing triangle of *

i = 1
while(i<=10) :
  print("*" * i)
  # i++
  i += 1

helloworld
hello world
#####
*
**
***
****
*****
******
*******
********
*********
**********

In [18]:
# string methods

# capitalize(): Converts the first character to upper case

str1 = "genzeon"
print(str1.capitalize()) # Genzeon

# casefold(): Converts string into lower case
str2 = "genzEOn"
print(str2.casefold())

# center():	Returns a centered string
str3 = "banana"
print(str3.center(20))

# count()	Returns: the number of times a specified value occurs in a string
str4 = "apple"
print(str4.count('p'))

# encode()	Returns an encoded version of the string

print(str4.encode())

# endswith()	Returns true if the string ends with the specified value

str5 = "hyderabad"
print(str5.endswith('d'))

# expandtabs()	Sets the tab size of the string

txt = "H\te\tl\tl\to"
x2 =  txt.expandtabs(2)
print(x2)

name = "s\ta\tb\ti\tr\ta"
print(name)
print(name.expandtabs(4))

# find()	Searches the string for a specified value and returns the position of where it was found
str7 = "myGenzeon"
print(str7.find('G'))  # 2

# format()	Formats specified values in a string
print("my name is {} I am from {}".format("sabira","srinagar"))

# index()	Searches the string for a specified value and returns the position of where it was found'
print(str7.index('G'))  # 2

# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isalnum()	Returns True if all characters in the string are alphanumeric
# isascii()	Returns True if all characters in the string are ascii characters

my_str1 = "sab01123"

print(my_str1.isalnum())  #True
print(my_str1.isalpha())  #False
print(my_str1.isnumeric())#False
print(my_str1.isascii()  )#True

# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# isnumeric()	Returns True if all characters in the string are numeric

num = "123"
print(num.isdecimal()) # True
print(num.isdigit())   # True
print(num.isnumeric()) # True

# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isupper()	Returns True if all characters in the string are upper case
# istitle()	Returns True if the string follows the rules of a title
str11 = "MeM"
print(str11.isidentifier())
print(str11.islower())
print(str11.isupper())
print(str11.istitle())
print("==============================")

myList = ["Genzeon", "company", "employee"]

x = "#".join(myList)
print(x)

myList2 = ["fatima", "ayzal","mehak"]
title = "Miss"
print(title.join(myList2))

# lstrip()	Returns a left trim version of the string
name = "    sanna   "
print(name.lstrip())

# rstrip()	Returns a right trim version of the string
name2 = "    sabba   "
print(name2.rstrip())

# split()	Splits the string at the specified separator, and returns a list
name3 = "g,e,n,z,e,o,n"
print(name3.split(','))

# splitlines()	Splits the string at line breaks and returns a list
str11 = "good morning \n how are you"
print(str11.splitlines())

# swapcase()	Swaps cases, lower case becomes upper case and vice versa
company = "GenzEOn"
print(company.swapcase())

# title()	Converts the first character of each word to upper case
company_name = "genzeon"
print(company_name.title())  # Genzeon

# zfill()	Fills the string with a specified number of 0 values at the beginning
order_num = "A112bw9"
print(order_num.zfill(10))  # 000A112bw9

Genzeon
genzeon
       banana
2
b'apple'
True
H e l l o
s	a	b	i	r	a
s   a   b   i   r   a
2
my name is sabira I am from srinagar
2
True
False
False
True
True
True
True
True
False
False
False
==============================
Genzeon#company#employee
fatimaMissayzalMissmehak
sanna
    sabba
['g', 'e', 'n', 'z', 'e', 'o', 'n']
['good morning ', ' how are you']
gENZeoN
Genzeon
000A112bw9

In [45]:
# Lists
my_list1 = [1,2,3,4,5]
my_list2 = [1,2,"welcome", 3.5]
my_list3 = ["g","e","n","z","e","o","n"]

print(my_list1[2])
print(my_list2[2][3])
print(my_list3[3])

# print welcome
print(my_list2[2][0:7])

# Nested Lists
nes_list = [20,"sab", my_list1, my_list2, my_list3]
# print 3.5 from nes_list
print(nes_list[3][3])

# List methods

# append()
old_list = [1,2,3,4]
old_list.append(5)
print(old_list)   # [1, 2, 3, 4, 5]

# extend()
old_list.extend([6,7,8,9,10])
print(old_list)   # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# insert()
old_list.insert(0,-1)
print(old_list)   # [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# pop()
old_list.pop()
print(old_list)   # [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# reverse()
old_list.reverse()
print(old_list)   # [9, 8, 7, 6, 5, 4, 3, 2, 1, -1]

# remove()
old_list.remove(-1)
print(old_list)

# sort()
li = [20, 10, 30, 5, 1, 80, 60]
li.sort()
print(li)

# print in descending order
li2 = [25, 10, 15, 1, 35, 30]
li2.sort()
li2.reverse()
print(li2)   # [35, 30, 25, 15, 10, 1]

# min() and max()
print(min(li2))  # 1
print(max(li2))  # 35

3
c
z
welcome
3.5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, -1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 5, 10, 20, 30, 60, 80]
[35, 30, 25, 15, 10, 1]
1
35

In [43]:
# Tuple

tuple_list1 = (1, 2, 3, 4)
print(tuple_list1)
tuple_list2 = (1, 2, "sabira", "haleef")
print(tuple_list2)

# nested_tuples
nes_tup = ["hello", tuple_list1, tuple_list2]
# print leef
print(nes_tup[2][3][2:6])  # leef

# tuple methods
tup2 = (1, 2, 2, 2, 3, 3, 4)
print(tup2.count(2))
print(tup2.index(4))
print(len(tup2))
print(min(tup2))
print(max(tup2))

(1, 2, 3, 4)
(1, 2, 'sabira', 'haleef')
leef
3
6
7
1
4

In [98]:
# Set
# A set is a collection which is unordered, unchangeable*, and unindexed.
# Set items are unchangeable, but you can remove items and add new items, duplicates not allowed

my_set1 = {1,2,2,3}
print(my_set1)  # {1, 2, 3}

my_set2 = {"india", "china", "afga", "us"}
print(my_set2)   #  {'us', 'china', 'afga', 'india'} unordered

# set methods

my_set = {1,2,5}
my_set.add(6)

print(my_set)

my_set.update({1,2,3,4})
print(my_set)
print("============")

# intersection
# The intersection() method returns a set that contains the similarity between two or more sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)  # {'apple'}
print(x&y)
print(z)

# intersection_update()	Removes the items in this set that are not present in other, specified set(s)

set1 = {1,3,4,5}
set2 = {1,2,3,4}
set1.intersection_update(set2)

print(set1)  # {1, 3, 4}

# difference()	Returns a set containing the difference between two or more sets

x1 = {"apple", "banana", "cherry"}
y1 = {"google", "microsoft", "apple"}

z1 = x1.difference(y1)
print(z1)  # {'banana', 'cherry'}
z2 = y1.difference(x1)
print(z2)  # {'microsoft', 'google'}

# difference_update()	Removes the items in this set that are also included in another, specified set

state1 = {"delhi", "punjab", "hyd"}
state2 = {"hyd", "kashmir", "delhi"}

state1.difference_update(state2)
print(state1)  # {'punjab'}

# remove discard
num_set = {20, 30, 40, 33, 50}
num_set.remove(33)
print(num_set)  # {50, 20, 40, 30}
# num_set.remove(44) # error
num_set.discard(44)  # no error
print(num_set)

{1, 2, 3}
{'us', 'china', 'afga', 'india'}
{1, 2, 5, 6}
{1, 2, 3, 4, 5, 6}
============
{'apple'}
{'apple'}
{1, 3, 4}
{'banana', 'cherry'}
{'microsoft', 'google'}
{'punjab'}
{50, 20, 40, 30}
{50, 20, 40, 30}

In [100]:
a = {"delhi", "punjab", "hyd"}
b = {"hyd", "kashmir", "delhi"}

# Unoin
print(a|b)
print(a.union(b))
print(b|a)
print(b.union(a))

# intersection
print(a&b)
print(a.intersection(b))
print(b&a)
print(b.intersection(a))

# difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

{'delhi', 'hyd', 'kashmir', 'punjab'}
{'delhi', 'hyd', 'kashmir', 'punjab'}
{'delhi', 'hyd', 'kashmir', 'punjab'}
{'delhi', 'hyd', 'kashmir', 'punjab'}
{'hyd', 'delhi'}
{'hyd', 'delhi'}
{'hyd', 'delhi'}
{'hyd', 'delhi'}
{'punjab'}
{'punjab'}
{'kashmir'}
{'kashmir'}

In [132]:
# Dictioners
my_dictionery = {"id":31, "name": "sabira","address":"hyd"}
print(my_dictionery["name"])
print(my_dictionery.keys())
print(my_dictionery.values())
print(my_dictionery.get("id"))

for i in my_dictionery:
  print(my_dictionery.get(i))

for key, value in my_dictionery.items():
  print(key,value)

sabira
dict_keys(['id', 'name', 'address'])
dict_values([31, 'sabira', 'hyd'])
31
31
sabira
hyd
id 31
name sabira
address hyd